.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  


/* nav styles */
/* nav{
    display: flex;
    list-style: none;
    justify-content:space-around;
    color: rgba(14, 14, 14, 1);
    margin: 31px 160px;
    background-color: rgba(245, 245, 245, 1);
    padding: 30px;
}

nav button{
    color: rgba(0, 106, 80, 1);
    border-radius: 5px;
    font-size: 18px;
    font-weight:600;
    
} */
 /* main style */
 main{
  max-width: 1280px;
  margin: 0 auto;
 }

 main section{
  margin-top: 80px;
  margin: 120px 160px 160px 80px;
 }


 /* shared style */

.text-right{
  text-align: left;

}


.section-title{
font-size: 40px;
font-weight: 700;
color: rgba(14, 14, 14, 1);
}


.section-description{
font-size: 16px;
font-weight: 400;

color: rgba(14, 14, 14, 0.7);
}
 

/* banner style */

.banner{
  display: flex;
  background-color: rgba(198, 228, 214, 1);
  justify-content: space-between;
  margin: 120px 160px 160px 80px;
  border-radius: 24px;
  padding: 80px 100px 80px 100px;
  gap: 64px;
}

.Banner-content{
  max-width: 622px;
  gap:16px;

}
.banner-title{
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-weight: 500px;
}
.banner-description{
  width: 622px;
  height: 201px;
  gap: 0px;
  opacity: 0px;
  
  font-size: 56px;
  font-weight: 700;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}
.banner-picture{
  width: 800x ;
}

/*all button style */

.btn-style{
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 106, 80, 1);
  border: none;
  border-radius: 8px;
  padding: 17px 34px 17px 34px;
  gap: 48px;
}
.btn-style:hover{
  background-color: burlywood;
}
.btn-style.icon1{
  background-color: rgba(84, 144, 245, 1); 
}

.btn-style.icon2{
  background-color: rgba(9, 161, 92, 1);
}
.btn-style.icon3{
background-color: rgba(255, 194, 57, 1);
}
.icon1:hover,.icon2:hover,.icon3:hover{
  background-color: burlywood;

}

/* vision styles */
.vision-style{
  text-align:left;
gap: 32px;
opacity: 0px;
 
}
.vision-container{
  display: flex;
  justify-content:space-around;
  gap:32x;
  width: 1280px;
  

}
.vision>.vision-title,.vision-description{
  color: rgba(14, 14, 14, 0.8);

}



.vision{
  padding: 32px;
  margin: 120px 32px 97px;
  border-radius: 16px;
  width: 400px;
  gap: 24px;


    
}

.vision.one{
  background: rgba(84, 144, 245, 0.2);
  border: 1px solid rgba(84, 144, 245, 1)

}
.vision.two{
  background: rgba(198, 228, 214, 1);
  border: 1px solid rgba(9, 161, 92, 1)
}
.vision.three{
  background: rgba(247, 235, 207, 1);
  border: 1px solid rgba(255, 194, 57, 1);
  
}
/* recent news */













